.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 80px;
    background-color: white;
    padding-bottom: 20px;
    width: 500px;
    border-radius: 10px;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    width: 100%;
    margin-top: 20px;
}

.text{
    font-size: 42px;
    color:blueviolet;
    font-weight: 600;
}

.underline{
    width: 55px;
    height: 5px;
    background-color: blueviolet;
    border-radius: 8px;
}

.inputs{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 400px;
    height: 50px;
    background-color: #eaeaea;
    border-radius: 5px;
}

.input img{
    margin: 0px 26px;
}

.input input{
    height: 36px;
    width: 300px;
    outline: none;
    border: none;
    color: #797979;
    font-size: 16px;
    background: transparent;
}

.forgot-password{
    padding-left: 55px;
    margin-top: -15px;
    color: #797979;
    font-size: 16px;
}

.forgot-password span{
    color: blueviolet;
    cursor: pointer;
    font-weight: 600;
}

.submit-container{
    display: flex;
    margin: 20px auto;
    gap: 30px;
}



.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 40px;    
    color: #fff;
    background: blueviolet;
    border-radius: 40px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
   
}

.gray{
    background: #EAEAEA;
    color: #797979;
}